
h1{
    font-size: 75px;
    font-family:'
}

p {
    font-size: 16px;
}

.bio {
    color:burlywood;
    line-height: 1.5;
    font-size: 50px;
    font-family: Arial;
}

#nama {
    color: teal;
}
